* {
    box-sizing: border-box;
  }

@font-face {
    src: url("../fonts/SFProDisplay/SF-Pro-Display-Light.otf");
    font-family: "SFProDisplay-Light";
}

@font-face {
    src: url("../fonts/SFProDisplay/SF-Pro-Display-Regular.otf");
    font-family: "SFProDisplay-Regular";
}

@font-face {
    src: url("../fonts/SFProDisplay/SF-Pro-Display-Medium.otf");
    font-family: "SFProDisplay-Medium";
}

@font-face {
    src: url("../fonts/SFProDisplay/SF-Pro-Display-Semibold.otf");
    font-family: "SFProDisplay-SemiBold";
}

@font-face {
    src: url("../fonts/SFProDisplay/SF-Pro-Display-Bold.otf");
    font-family: "SFProDisplay-Bold";   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72x;
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: #1d1d1d;
    padding-left: 8.5%;
}


nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 72px;
    padding: 0% 8.5%;   
} 


a {
    color: #ffffff;
    font-size: 17px;
    font-family: "SFProDisplay-Light";
}

.a {
    padding-left: 72px;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
  }

.a-sinsubrayar {
    text-decoration: none;
}



h3 {
  color: #1d1d1d;
  font-size: 30px;
  font-family: "SFProDisplay-Bold";
}

h4 {
  color: #484848;
  font-size: 20px;
  font-family: "SFProDisplay-Medium";
}

body {
    background-color: #ffffff;
}

.home {
    width: 100vw;
    height: 100vh;
}

.home-container{
    width: 100vw;
    height: 75vh;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 30%;
    padding-right: 30%;
}

h1 {
    color: #ffffff;
    font-size: 56px;
    font-family: "SFProDisplay-SemiBold";
    text-align: center;
    padding-bottom: 24px;
}

h2 {
  color: #ffffff;
  font-size: 40px;
  font-family: "SFProDisplay-Medium";
  text-align: center;
  padding-bottom: 32px;
}

p {
    color: #ffffff;
    font-size: 21px;
    font-family: "SFProDisplay-Light"; 
    text-align: center;
    line-height: 30px;    
}

.home-container-ii {
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p {
    color: #1d1d1d; 
    padding-bottom: 16px;   
}

.pii {
    color: #696969;
    text-align: center;
    padding-bottom: 16px; 
}

.piii {
    color: #1d1d1d;
    padding-top: 5%;
    padding-bottom: 24px;    
}

.projects-container {
    width: 100vw;
    height: 100%;
    padding-top: 5%;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;   
    flex-wrap: wrap;
}

h3{
  color: #1d1d1d;
  font-size: 20px;
  padding-bottom: 8px;
  text-align: center;
  font-family: "SFProDisplay-Light";
}

b{
  color: #1d1d1d;
  font-size: 20px;
  font-family: "SFProDisplay-SemiBold";
}

.projects {
    width: 41vw;
    height: 50%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FBFBFD;
}

.project-images {
    padding-top: 40px;    
} 

.text {
    margin-top: 29px;
}

.botton {
    padding: 8px 56px;
    color: #1d1d1d;
    margin-bottom: 40px; 
    border: 1px solid #1d1d1d;
    text-align: center;    
}

.botton:hover {
    background-color: #1d1d1d;
    color: #ffffff;
    text-decoration: none;
}


footer {
    width: 100%;
    height: 180px;
    background-color: #1d1d1d;
}

.social {
    display: flex;
    justify-content: space-evenly;
    padding-top: 35px;
    padding-right: 40%;
    padding-left: 40%;
    padding-bottom: 16px; 
    
}

.contact {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;   
 
}


.animation1{
    background-color: #F8F8F8;
    transition: background-color 1s ease;
}



.animation2{
    transition: 1s;
    transform-origin: right;
    transition: transform 0.5s ease-in-out
}

.animation2:hover{
    cursor: pointer;
    text-decoration: underline;    
}


.mobile-content {
    display: none;
  }


@media only screen and (max-width: 415px) {

.desktop-content {
    display: none;
}

.mobile-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 88px;
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: #1d1d1d;
    padding-left: 16px;
    padding-right: 16px;    
}

a {
    color: #ffffff;
    font-size: 15px;
    font-family: "SFProDisplay-Light";
}

.a {
    padding-left: 16px;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
  }

.a-sinsubrayar {
    text-decoration: none;
}

h3 {
  color: #1d1d1d;
  font-size: 30px;
  font-family: "SFProDisplay-Bold";
}

h4 {
  color: #484848;
  font-size: 20px;
  font-family: "SFProDisplay-Medium";
}

body {
    background-color: #ffffff;
}

.home {
    width: 100vw;
    height: 100vh;
}

.home-container{
    width: 100vw;
    height: 75vh;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 66px;
    padding-left: 16px;
    padding-right: 16px;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    font-family: "SFProDisplay-SemiBold";
    text-align: center;
    padding-bottom: 16px;
}

h2 {
  color: #ffffff;
  font-size: 20px;
  font-family: "SFProDisplay-Medium";
  text-align: center;
  padding-bottom: 24px;
}

p {
    color: #ffffff;
    font-size: 15px;
    font-family: "SFProDisplay-Light"; 
    text-align: center;
    line-height: 25px;    
}

.botones {
    padding-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botton-2 {
    width: 200px;
    height: 44px;
    margin-top: 8px;
    padding-top: 9px;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-align: center;  
    align-items: center; 
    justify-content: center; 
}

.botton-2:hover {
    background-color: #ffffff;
    color: #1d1d1d;
    text-decoration: none;
}

.home-container-ii {
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.p {
    color: #1d1d1d; 
    padding-left: 16px;
    padding-right: 16px;   
}

.pii {
    color: #696969;
    text-align: center;
    padding-bottom: 16px; 
}

.piii {
    color: #1d1d1d;
    padding-bottom: 8px; 
    padding-left: 16px;
    padding-right: 16px;   
}

.projects-container {
    width: 100vw;
    height: 100vh;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;   
    flex-wrap: wrap;
    
}

h3{
  color: #1d1d1d;
  font-size: 17px;
  padding-bottom: 8px;
  text-align: center;
  font-family: "SFProDisplay-Light";
}

b{
  color: #1d1d1d;
  font-size: 17px;
  font-family: "SFProDisplay-SemiBold";
}

.projects {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FBFBFD;
}


.text {
    margin-top: 16px;
}

.botton {
    width: 200px;
    height: 44px;
    padding-bottom: 16px;
    color: #1d1d1d;
    border: 1px solid #1d1d1d;
    text-align: center;    
}

.botton:hover {
    background-color: #1d1d1d;
    color: #ffffff;
    text-decoration: none;
}


.footer {
    width: 100vw;
}

.social {
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 32px; 
    
}

.contact {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;   
 
}

.ai {
    color: #1d1d1d;
    text-align: center;    
    text-decoration: underline;
}

.animation1{
    background-color: #F8F8F8;
    transition: background-color 1s ease;
}



.animation2{
    transition: 1s;
    transform-origin: right;
    transition: transform 0.5s ease-in-out
}

.animation2:hover{
    cursor: pointer;
    text-decoration: underline;    
}

}

@media only screen and (min-width: 415px) and (max-width: 768px) {

.desktop-content {
    display: none;
}
    
.mobile-content {
    display: none;
}

.tablet-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 88px;
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: #1d1d1d;
    padding-left: 16px;
    padding-right: 16px;    
}

a {
    color: #ffffff;
    font-size: 15px;
    font-family: "SFProDisplay-Light";
}

.a {
    padding-left: 16px;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
  }

.a-sinsubrayar {
    text-decoration: none;
}

h3 {
  color: #1d1d1d;
  font-size: 30px;
  font-family: "SFProDisplay-Bold";
}

h4 {
  color: #484848;
  font-size: 20px;
  font-family: "SFProDisplay-Medium";
}

body {
    background-color: #ffffff;
}

.home {
    width: 100vw;
    height: 100vh;
}

.home-container{
    width: 100vw;
    height: 75vh;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 66px;
    padding-left: 16px;
    padding-right: 16px;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    font-family: "SFProDisplay-SemiBold";
    text-align: center;
    padding-bottom: 16px;
}

h2 {
  color: #ffffff;
  font-size: 20px;
  font-family: "SFProDisplay-Medium";
  text-align: center;
  padding-bottom: 24px;
}

p {
    color: #ffffff;
    font-size: 15px;
    font-family: "SFProDisplay-Light"; 
    text-align: center;
    line-height: 25px;    
}

.botones {
    padding-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botton-2 {
    width: 200px;
    height: 44px;
    margin-top: 8px;
    padding-top: 9px;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-align: center;  
    align-items: center; 
    justify-content: center; 
}

.botton-2:hover {
    background-color: #ffffff;
    color: #1d1d1d;
    text-decoration: none;
}

.home-container-ii {
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.p {
    color: #1d1d1d; 
    padding-left: 16px;
    padding-right: 16px;   
}

.pii {
    color: #696969;
    text-align: center;
    padding-bottom: 16px; 
}

.piii {
    color: #1d1d1d;
    padding-bottom: 8px; 
    padding-left: 16px;
    padding-right: 16px;   
}

.projects-container {
    width: 100vw;
    height: 100vh;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;   
    flex-wrap: wrap;
    
}

h3{
  color: #1d1d1d;
  font-size: 17px;
  padding-bottom: 8px;
  text-align: center;
  font-family: "SFProDisplay-Light";
}

b{
  color: #1d1d1d;
  font-size: 17px;
  font-family: "SFProDisplay-SemiBold";
}

.projects {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FBFBFD;
}


.text {
    margin-top: 16px;
}

.botton {
    width: 200px;
    height: 44px;
    padding-bottom: 16px;
    color: #1d1d1d;
    border: 1px solid #1d1d1d;
    text-align: center;    
}

.botton:hover {
    background-color: #1d1d1d;
    color: #ffffff;
    text-decoration: none;
}


.footer {
    width: 100vw;
}

.social {
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 32px; 
    
}

.contact {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;   
 
}

.ai {
    color: #1d1d1d;
    text-align: center;    
    text-decoration: underline;
}

.animation1{
    background-color: #F8F8F8;
    transition: background-color 1s ease;
}

.animation2{
    transition: 1s;
    transform-origin: right;
    transition: transform 0.5s ease-in-out
}

.animation2:hover{
    cursor: pointer;
    text-decoration: underline;    
}

}


